@import './base.css';
@import './app.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  /* max-width: 1280px; */ /* Removido para usar todo el ancho */
  /* margin: 0 auto; */ /* Removido para evitar centrado */
  /* padding: 2rem; */ /* Removido - el padding se maneja en los componentes */
  font-weight: normal;
  width: 100%;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* Comentado - manejamos el layout en los componentes
@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
*/
